.row {
    display: flex;
    width: 100%;
    border-spacing:10px;

}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    border-spacing:10px;
}

.row {
    height: 50%;
}

.box {
    width: 50%;
    border: 2px solid gray;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    overflow:auto;
}

.box > p {
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}