.thumbnail{
    height: 100px;
    width: 100px;
}

.restaurantCard {
    display: flex;
    padding-bottom: 5px;
}

.restaurantCard > div {
    width: 100%;
    text-align: center;
    font-size: 13px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 5px;
}