/* .Blog ul { */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

/* .Blog li { */
li {
    display: inline-block;
    margin: 20px;
}

/* .Blog a { */
.NavHeader a {
    text-decoration: none;
    color: #282c34;
}


/* .Blog a:hover,
.Blog a:active { */
.NavHeader a:hover,
.NavHeader a:active {
    color: #61dafb;
}