.restaurantPage {
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* width: 100%; */
}

/* div {
    align-items: center;
    justify-content: center;
    width: 75%;
} */
